.row .element{
  display: inline-flex;
}

.grid, .grid-back {
  background-color: #e36c45;
  border-radius: 10px;
}

.grid-outer {
  width: 480px;
  height: 530px;
  background-color: transparent;
  border-radius: 10%;
  display: flex;
  perspective: 1000px;
}

.grid-inner {
  width: 100%;
  height: 100%;
  background-color: #e36c45;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.grid-outer.flipped .grid-inner {
  transform: rotateY(180deg);
}

.grid, .grid-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-back {
  transform: rotateY(180deg);
}
