.card {
  width: 100px;
  height: 100px;
  background-color: #e53e0b;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 60px;
  height: 60px;
}