.card-inner {
  width: 100%;
  height: 100%;
  background-color: #e53e0b;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card p {
  font-size: 30px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  perspective: 1000px;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-back, .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back.special p {
  font-size: 18px;
}
